# Project Rules

Use the formatting patterns defined in Prettier (.prettierrc.json) and ESLint (eslint.js).

Do not use "export default", unless explicitly requested.

Do not create examples or documentation, unless requested by the user.

Organize imports in the following order, separated by line breaks:
1. node_modules
2. styling files (scss, css, etc.)
3. other project files