node_modules
src
example
tests
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
.eslintrc.js
tsconfig.json
tsconfig.node.json
vite.config.ts
index.html
.github
.vscode
*.log
coverage
.DS_Store
Thumbs.db